#Workspace{
    width: 100%;
    height: 100vh;
    background-color: gray;
    
}

#Mycanvas{
    
    background-color: white;
    margin: 5px;
    
}
#Toolbox{
    width: 300px;
    height: 100vh;
    float: right;
    color:black;
    background-color: rgb(205,205,205);
    text-align:left;
　  line-height:80px;
    padding: 10px;
}
#Shapes{

}
.btn {
    width: 125px;
    height: 80px;
    background:white;
    color:black;
    font-size: 20px;
    transition: background 0.3s;
    border: 0;		
    box-shadow: 1px 1px 3px 3px rgb(185,185,185) inset;	
    margin:5px
}
